
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CivisAnalysis Update Tool</title>
</head>
<body>

<h2>Ações<h2>
    <button><a href="/getMotionRollCallsInYear/2015">Carregar projetos do ano 2015</a></button>
    <br>
    <button><a href="/listarTodasProposicoesVotadasEmPlenario">Carregar todas Proposições Votadas</a></button>
    <br>
    <button><a href="/obterProposicao/PL/3962/2008">Obter PL3962-2008</a></button>
    <br>
    <button><a href="/obterVotacaoProposicao/PL/1992/2007">Obter votos da PL1992-2007</a></button>
</body>
</html>