
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CivisAnalysis Update Tool</title>
</head>
<body>

<h2>Ações<h2>
    <button><a href="/obterTodasProposicoes">Obter todas proposicoes</a></button>
    <br>
    <button><a href="/obterTodasVotacoesProposicoes">Obter todas votacoes proposicoes</a></button>
    <br>
    <button><a href="/listarTodasProposicoesVotadasEmPlenario">Carregar todas Proposições Votadas</a></button>
    <br>
    <button><a href="/obterProposicao">Obter proposicao</a></button>
    <br>
    <button><a href="/adicionarTemasParaProposicoes">Adicionar Temas para Proposições</a></button>
    <br>
    <button><a href="/generateJsonFiles">Obter os arquivos json</a></button>
</body>
</html>